@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lusitana'), url(https://fonts.gstatic.com/s/lusitana/v7/CSR84z9ShvucWzsMKyhdTOc.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 62.5%;
}
nav {
  background-color: #1497AB;
  display: flex;
}
nav .logo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2%;
}
nav .logo .logo-img {
  width: 50%;
}
@media (min-width: 500px) {
  nav .logo .logo-img {
    width: 30%;
  }
}
@media (min-width: 500px) {
  nav .logo {
    margin: 0 2%;
  }
}
nav .logo p {
  font-size: 1.5rem;
  color: white;
  font-family: 'Lusitana', sans-serif;
}
nav .logo p span {
  color: #29ff29;
  font-weight: 900;
  font-size: 2.5rem;
}
nav .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 2%;
}
@media (min-width: 500px) {
  nav .links {
    margin: 0 2%;
  }
}
nav .links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin: 3%;
  font-family: 'Lusitana', sans-serif;
}
nav .links button {
  display: flex;
  justify-content: center;
  background-color: #044A53;
  cursor: pointer;
  width: 80px;
  height: 25px;
  font-size: 1rem;
  border-radius: 5px;
  border: 0px solid;
  color: white;
  margin: 0;
}
nav .links button a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.about-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/about-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.statement .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.statement .content h1 {
  color: white;
  font-size: 2.5rem;
  margin: 2% 5%;
  font-family: 'Playfair Display', serif;
}
@media (min-width: 500px) {
  .statement .content h1 {
    font-size: 4.5rem;
  }
}
.statement .content p {
  color: white;
  margin: 0% 3%;
  padding: 2%;
  font-size: 1.5rem;
  border-bottom: 1px solid #ffffff3b;
}
@media (min-width: 500px) {
  .statement .content p {
    font-size: 2.5rem;
    width: 84%;
  }
}
.meet-our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}
.meet-our-team h1 {
  font-size: 2.25rem;
  color: white;
  font-family: 'Playfair Display', serif;
}
@media (min-width: 500px) {
  .meet-our-team h1 {
    font-size: 4rem;
  }
}
.meet-our-team .employee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ffffff4a;
  margin: 2%;
  width: 60%;
}
.meet-our-team .employee .profile-img {
  width: 10%;
  border-radius: 5px;
  border: 1px solid white;
  margin: 1%;
}
.meet-our-team .employee p {
  font-size: 1.25rem;
  font-family: 'Lusitana', sans-serif;
  color: white;
}
@media (min-width: 500px) {
  .meet-our-team .employee p {
    font-size: 2.25rem;
  }
}
footer {
  width: 100%;
  background-color: #044A53;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  padding: 3%;
  align-items: center;
}
footer .footer-container .footer-logo {
  width: 30%;
  padding-left: 5%;
}
@media (min-width: 500px) {
  footer .footer-container .footer-logo {
    width: 30%;
    margin-left: 10%;
  }
}
footer .footer-container .footer-logo .logo-img {
  width: 100%;
  border: 1px dashed lightblue;
  padding: 5%;
}
footer .footer-container .footer-logo .logo {
  font-size: 2rem;
  color: white;
  padding: 2% 0;
  font-family: 'Playfair Display', serif;
}
@media (min-width: 500px) {
  footer .footer-container .footer-logo .logo {
    font-size: 3rem;
  }
}
footer .footer-container .footer-logo .logo span {
  font-weight: 800;
  color: #2ae62a;
}
footer .footer-container .footer-logo p {
  font-size: 1.25rem;
  color: white;
  font-family: 'Lusitana', sans-serif;
}
@media (min-width: 500px) {
  footer .footer-container .footer-logo p {
    font-size: 1.5rem;
  }
}
footer .footer-container .footer-nav {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 500px) {
  footer .footer-container .footer-nav {
    margin: 0;
    line-height: 1rem;
  }
}
footer .footer-container .footer-nav h1 {
  font-size: 1.5rem;
  color: white;
  margin: 3% 0;
  font-family: 'Playfair Display', serif;
}
footer .footer-container .footer-nav span {
  font-size: 1.25rem;
  color: white;
  margin: 2% 0;
  font-family: 'Lusitana', sans-serif;
}
footer .icons {
  display: flex;
  justify-content: center;
}
footer .icons span {
  font-size: 2rem;
  color: white;
  margin: 1% 3%;
}
footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyright span {
  color: white;
  font-size: 1.25rem;
  font-family: 'Playfair Display', serif;
}
.container-one {
  background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.38)), url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .cta-one {
  width: 50%;
  margin: 5% 10%;
  padding: 7%;
  margin-top: 0;
}
@media (min-width: 500px) {
  .header .cta-one {
    width: 40%;
  }
}
.header .cta-one h1 {
  font-size: 2rem;
  margin: 5% 0;
  font-weight: 800;
  color: white;
  font-family: 'Playfair Display', serif;
}
@media (min-width: 500px) {
  .header .cta-one h1 {
    font-size: 3.5rem;
  }
}
.header .cta-one P {
  font-size: 1.25rem;
  margin-bottom: 5%;
  color: white;
  font-family: 'Lusitana', sans-serif;
}
@media (min-width: 500px) {
  .header .cta-one P {
    font-size: 1.5rem;
  }
}
.header .cta-one button {
  display: flex;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 1rem;
  border-radius: 5px;
  border: 0px solid;
  color: #044A53;
}
.header .cta-one button a {
  text-decoration: none;
  color: black;
  font-family: 'Lusitana', sans-serif;
}
.container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-two .content-one {
  width: 40%;
  padding: 5%;
  border: 1px solid #cccccc40;
}
@media (min-width: 500px) {
  .container-two .content-one {
    width: 95%;
    display: flex;
    border: 0px;
  }
}
.container-two .content-one .someAbout {
  margin-bottom: 5%;
}
@media (min-width: 500px) {
  .container-two .content-one .someAbout {
    margin: 1%;
  }
}
.container-two .content-one .someAbout h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3% 0;
  font-family: 'Playfair Display', serif;
}
.container-two .content-one .someAbout p {
  font-size: 1.25rem;
  font-family: 'Lusitana', sans-serif;
}
.container-two .content-one .someAbout .screenGrab {
  height: 30vh;
  background-color: lightgrey;
}
.container-two .content-one .someAbout .bud {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-two .content-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
}
@media (min-width: 500px) {
  .container-two .content-two {
    flex-direction: row-reverse;
    margin: 3%;
  }
}
.container-two .content-two .img-two {
  width: 55%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-two .content-two .is-legal {
  width: 50%;
  padding: 2%;
  border-top: 1px solid #cccccc40;
  border-bottom: 1px solid #cccccc40;
}
@media (min-width: 500px) {
  .container-two .content-two .is-legal {
    margin-right: 2%;
    border: 0px;
  }
}
.container-two .content-two .is-legal h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 5% 0;
  font-family: 'Playfair Display', serif;
}
.container-two .content-two .is-legal p {
  font-size: 1.25rem;
  margin: 5% 0;
  font-family: 'Lusitana', sans-serif;
}
@media (min-width: 500px) {
  .container-two .content-two .is-legal p {
    font-size: 1.5rem;
  }
}
.container-two .content-two .is-legal button {
  display: flex;
  justify-content: center;
  background-color: #323232;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 1rem;
  border-radius: 5px;
  border: 0px solid;
  color: white;
}
.container-two .content-two .is-legal button a {
  text-decoration: none;
  color: white;
  font-family: 'Lusitana', sans-serif;
}
.container-two .content-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
@media (min-width: 500px) {
  .container-two .content-three {
    flex-direction: row;
    margin: 3%;
  }
}
.container-two .content-three .img-three {
  width: 55%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-two .content-three .for-you {
  width: 50%;
  padding: 2%;
  border-top: 1px solid #cccccc40;
  border-bottom: 1px solid #cccccc40;
}
@media (min-width: 500px) {
  .container-two .content-three .for-you {
    margin: 2%;
    border: 0px;
  }
}
.container-two .content-three .for-you h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 5% 0;
  font-family: 'Playfair Display', serif;
}
.container-two .content-three .for-you p {
  font-size: 1.25rem;
  margin: 5% 0;
  font-family: 'Lusitana', sans-serif;
}
@media (min-width: 500px) {
  .container-two .content-three .for-you p {
    font-size: 1.5rem;
  }
}
.container-two .content-three .for-you button {
  display: flex;
  justify-content: center;
  background-color: #323232;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 1rem;
  border-radius: 5px;
  border: 0px solid;
  color: white;
}
.container-two .content-three .for-you button a {
  text-decoration: none;
  color: white;
  font-family: 'Lusitana', sans-serif;
}
