/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
nav {
  background-color: #1497AB;
  display: flex;
}
nav .logo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2%;
}
nav .logo p {
  font-size: 1.5rem;
  color: white;
}
nav .logo p span {
  color: #29ff29;
  font-weight: 900;
  font-size: 2.5rem;
}
nav .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 2%;
}
nav .links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin: 3%;
}
nav .links button {
  display: flex;
  justify-content: center;
  background-color: #044A53;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  margin: 0;
}
.container-one {
  background-image: url("https://images.unsplash.com/photo-1556928045-16f7f50be0f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .cta-one {
  width: 60%;
  margin: 5% 5%;
  padding: 7%;
}
.header .cta-one h1 {
  font-size: 2rem;
  margin: 2% 0;
}
.header .cta-one P {
  font-size: 1.5rem;
  margin-bottom: 3%;
}
.header .cta-one button {
  display: flex;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 1rem;
  border-radius: 10px;
  color: #044A53;
}
.container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-two .content-one {
  width: 50%;
}
.container-two .content-one .someAbout {
  margin-bottom: 5%;
}
.container-two .content-one .someAbout h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3% 0;
}
.container-two .content-one .someAbout p {
  font-size: 1.25rem;
}
.container-two .content-one .someAbout .screenGrab {
  height: 30vh;
  background-color: lightgrey;
}
.container-two .content-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-two .content-two .img-two {
  width: 60%;
}
.container-two .content-two .is-legal {
  width: 60%;
}
.container-two .content-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-two .content-three .img-three {
  width: 60%;
}
.container-two .content-three .for-you {
  width: 60%;
}
