.about-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.statement {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        h1 {
            color: white;
            font-size: 2.5rem;
            margin: 2% 5%;
            font-family: @heading-font;

            @media @desktop {
                font-size: 4.5rem;
            }
        }

        p {
            color: white;
            margin: 0% 3%;
            padding: 2%;
            font-size: 1.5rem;
            border-bottom: 1px solid #ffffff3b;

            @media @desktop {
                font-size: 2.5rem;
                width: 84%;
            }
        }
    }
}

.meet-our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;

    h1 {
        font-size: 2.25rem;
        color: white;
        font-family: @heading-font;

        @media @desktop {
            font-size: 4rem;
        }
    }
    
    .employee {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ffffff3b;
            margin: 2% 15%;
            width: 80%;
        
        .profile-img {
            width: 10%;
            border-radius: 5px;
            border: 1px solid white;
            margin: 1%;
        }

        p {
            font-size: 1.25rem;
            font-family: @p-font;
            color: white;

            @media @desktop {
                font-size: 2.25rem;
            }
        }
    }
}