.container-one {
    background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.38)), url("https://images.unsplash.com/photo-1556928045-16f7f50be0f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    .cta-one {
        width: 50%;
        margin: 5% 10%;
        padding: 7%;
        margin-top: 0;

        @media @desktop {
            width: 25%;
        }
        
        h1 {
            font-size: 2rem;
            margin: 2% 0;
            font-weight: 800;
            color: white;
            font-family: @heading-font;
        }

        P {
            font-size: 1.25rem;
            margin-bottom: 3%;
            color: white;
            font-family: @p-font;
        }

        button {
            .custom-btn(white, 100px, @color-one);

            a {
                text-decoration: none;
                color: black;
                font-family: @p-font;
            }
        }
    }
}

.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content-one {
        width: 40%;
        padding: 5%;
        border: 1px solid #d3d3d34a;
        @media @desktop {
            width: 90%;
            display: flex;
        }

        .someAbout {
            margin-bottom: 5%;
            @media @desktop {
                margin: 1%;
            }

            h1 {
                font-size: 1.5rem;
                font-weight: 600;
                margin: 3% 0;
                font-family: @heading-font;
            }

            p {
                font-size: 1.25rem;
                font-family: @p-font;
            }

            .screenGrab {
                height: 30vh;
                background-color: lightgrey;
            }

            .bud {
                    width: 100%;
            }
        }
    }

    .content-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15% 0;

        @media @desktop {
            flex-direction: row-reverse;
            margin: 3%;
        }
        
        .img-two {
            width: 60%;
        }

        .is-legal {
            width: 60%;

            h1 {
                font-size: 2rem;
                font-weight: 600;
                margin: 2% 0;
                font-family: @heading-font;
            }

            p {
                font-size: 1.25rem;
                margin: 2% 0;
                font-family: @p-font;

                @media @desktop  {
                    font-size: 1.5rem;
                }
            }

            button {
                .custom-btn(@color-four, 100px,white);

                a {
                    text-decoration: none;
                    color: white;
                    font-family: @p-font;
                }
            }
        }
    }

    .content-three {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;

        @media @desktop {
            flex-direction: row;
            margin: 3%;
        }
        
        
        .img-three {
            width: 60%;
        }

        .for-you {
            width: 60%;

            @media @desktop {
                margin: 5%;
            }

            h1 {
                font-size: 2rem;
                font-weight: 600;
                margin: 2% 0;
                font-family: @heading-font;
            }

            p {
                font-size: 1.25rem;
                margin: 2% 0;
                font-family: @p-font;

                @media @desktop {
                    font-size: 1.5rem;
                }
            }

            button {
                .custom-btn(@color-four, 100px,white);

                a {
                    text-decoration: none;
                    color: white;
                    font-family: @p-font;
                }
            }
        }
    }
}